@media only screen and (device-width: 768px) {
  .alert-success {
    height: 54px;
    width: 196px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
/*navbar*/
.navbar {
    background-color: rgb(50, 68, 85);
    font-family: 'PT Sans', sans-serif;
    border-color: rgb(50, 68, 85);
    border-bottom-color: #bfbfbf;
    height: 60px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    border-bottom-color: #bfbfbf;
    
}
.navbar .navbar-collapse {
    text-align: center;
}
.logo {
  padding-top: 3px;
}
/*title*/
.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'PT Sans', sans-serif;
}
#brandicon {
  font-weight: normal;
  font-size: 18px;
}
/*link*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgb(50, 68, 85);
    font-family: 'PT Sans', sans-serif;
}
.glyphicon {
  color: rgb(50, 68, 85);
}
ul {
  list-style: none;
}
.inventory_items {
  border-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
}
li {
    color: black;
    padding: 5px 10px 5px 10px;
}
i {
  padding: 0px 5px 0px 5px;
}
.location {
  height: 40px;
}
/*page  content*/
body {
  padding-top: 50px;
  margin-bottom: 30px;
  background-color: rgba(50, 68, 85, 0.9);
  color: rgba(50, 68, 85, 0.9);
  text-align: center;
  font-size: 16px;
}
body > .container-fluid {
  padding-top: 60px;
}
.row-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-inline {
    float: left;
}
.track {
  border-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
  
}
.inventory_item {
  font-size: 16px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
body {
  background-color: #f1f1f1;
}
.preference {
  padding-top: 20px;
  padding-bottom: 10px;
}
.grid {
  background-color: white;
  color: rgba(50, 68, 85, 0.9);
  border-color: #bfbfbf;
  padding-top: 10px;
  padding-bottom: 10px;
}
#restock_num, #product_amount {
    width: 40px;
}
/*footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f1f1f1;
  border-top-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
}
.container .text-muted {
  text-align: center;
  margin: 5px 0;
}
